In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
bank_data=pd.read_csv('bill_authentication.csv')

In [3]:
bank_data.shape

(1372, 5)

In [6]:
bank_data.sample(10)

      Variance  Skewness  Curtosis  Entropy  Class
725    3.61810  -3.74540   2.82730 -0.71208      0
1083  -0.69879  -3.37710   4.12110  1.50430      1
54     4.92640   5.49600  -2.47740 -0.50648      0
1289  -1.40940  -2.12520  -0.10397 -0.19225      1
276    4.05200  -0.16555   0.45383  0.51248      0
107   -1.85840   7.88600  -1.66430 -1.83840      0
618    1.85920   3.20740  -0.15966 -0.26208      0
724    5.12130   8.55650  -3.39170 -1.54740      0
1141  -0.49081   2.84520  -3.64360 -3.10040      1
518    4.24060  -2.48520   1.60800  0.71550      0

In [7]:
bank_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Variance  1372 non-null   float64
 1   Skewness  1372 non-null   float64
 2   Curtosis  1372 non-null   float64
 3   Entropy   1372 non-null   float64
 4   Class     1372 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 53.7 KB

In [9]:
X=bank_data.drop('Class',axis=1)
y=bank_data['Class']

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=100)

In [11]:
from sklearn.tree import DecisionTreeClassifier
classifier=DecisionTreeClassifier()
classifier.fit(X,y)
y_pred=classifier.predict(X_test)

In [12]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
print(classification_report(y_test,y_pred))
print(confusion_matrix(y_test,y_pred))
print(accuracy_score(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       198
           1       1.00      1.00      1.00       145

    accuracy                           1.00       343
   macro avg       1.00      1.00      1.00       343
weighted avg       1.00      1.00      1.00       343

[[198   0]
 [  0 145]]
1.0

In [13]:
dataset=pd.read_csv('petrol_consumption.csv')

In [14]:
dataset.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [15]:
X=dataset.drop('Petrol_Consumption',axis=1)
y=dataset['Petrol_Consumption']

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [26]:
from sklearn.tree import DecisionTreeRegressor
regressor=DecisionTreeRegressor()
regressor.fit(X_train,y_train)
y_predict=regressor.predict(X_test)
df=pd.DataFrame({'actual':y_test,'predicted':y_predict})
df

    actual  predicted
29     534      541.0
4      410      414.0
26     577      574.0
30     571      554.0
32     577      554.0
37     704      554.0
34     487      628.0
40     587      649.0
7      467      414.0
10     580      464.0

In [27]:
from sklearn.metrics import mean_absolute_error,mean_squared_error
print('Mean absolute error:',mean_absolute_error(y_test,y_predict))
print('Mean squared error:',mean_squared_error(y_test,y_predict))
print('Mean squared error:',np.sqrt(mean_squared_error(y_test,y_predict)))

Mean absolute error: 57.6
Mean squared error: 6338.2
Mean squared error: 79.61281303910822

In [29]:
from sklearn.tree import DecisionTreeRegressor

In [30]:
!pip install Quandl

Defaulting to user installation because normal site-packages is not writeable
Collecting Quandl
  Downloading Quandl-3.7.0-py2.py3-none-any.whl (26 kB)
Collecting more-itertools
  Downloading more_itertools-8.14.0-py3-none-any.whl (52 kB)
Requirement already satisfied: python-dateutil in c:\anaconda\lib\site-packages (from Quandl) (2.8.2)
Requirement already satisfied: requests>=2.7.0 in c:\anaconda\lib\site-packages (from Quandl) (2.27.1)
Requirement already satisfied: inflection>=0.3.1 in c:\anaconda\lib\site-packages (from Quandl) (0.5.1)
Requirement already satisfied: pandas>=0.14 in c:\anaconda\lib\site-packages (from Quandl) (1.4.2)
Requirement already satisfied: numpy>=1.8 in c:\anaconda\lib\site-packages (from Quandl) (1.21.5)
Requirement already satisfied: six in c:\anaconda\lib\site-packages (from Quandl) (1.16.0)
Requirement already satisfied: pytz>=2020.1 in c:\anaconda\lib\site-packages (from pandas>=0.14->Quandl) (2021.3)
Requirement already satisfied: idna<4,>=2.5 in c:\anaconda\lib\site-packages (from requests>=2.7.0->Quandl) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\anaconda\lib\site-packages (from requests>=2.7.0->Quandl) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\anaconda\lib\site-packages (from requests>=2.7.0->Quandl) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\anaconda\lib\site-packages (from requests>=2.7.0->Quandl) (2021.10.8)
Installing collected packages: more-itertools, Quandl
Successfully installed Quandl-3.7.0 more-itertools-8.14.0

In [31]:
import quandl

In [50]:
quandl.ApiConfig.api_key='3p9YFaFoZmyJBihuV8NL'

In [51]:
stock_data=quandl.get('BSE/BOM500875',start_date='2022-06-20', end_date='2022-09-25')

In [52]:
stock_data.head()

,Open,High,Low,Close,WAP,No. of Shares,No. of Trades,Total Turnover,Deliverable Quantity,% Deli. Qty to Traded Qty,Spread H-L,Spread C-O
Date,,,,,,,,,,,,
2022-06-20,262.20,266.15,261.30,264.00,263.55,784844.0,14424.0,206843136.0,507525.0,64.67,4.85,1.80
2022-06-21,265.00,270.90,264.25,269.85,267.88,495620.0,6668.0,132768602.0,145970.0,29.45,6.65,4.85
2022-06-22,268.00,270.20,264.65,265.10,267.77,351550.0,6103.0,94135385.0,141238.0,40.18,5.55,-2.90
2022-06-23,264.65,267.30,262.50,265.60,265.12,204279.0,4107.0,54158816.0,73642.0,36.05,4.80,0.95
2022-06-24,265.60,268.30,265.20,265.80,266.40,335907.0,6114.0,89485743.0,173766.0,51.73,3.10,0.20

In [53]:
stock_data.shape

(67, 12)

In [54]:
stock_data.columns

Index(['Open', 'High', 'Low', 'Close', 'WAP', 'No. of Shares', 'No. of Trades',
       'Total Turnover', 'Deliverable Quantity', '% Deli. Qty to Traded Qty',
       'Spread H-L', 'Spread C-O'],
      dtype='object')

In [57]:
print(stock_data[['Open','Close']].tail(4))
shifted_open_close=stock_data.loc[:,['Open','Close']].shift(-1)
print(shifted_open_close.tail(4))
print('---------------------------')
shifted_stock_data=stock_data.copy()
shifted_stock_data['Open']=shifted_open_close['Open']
print(shifted_stock_data[['Open','Close']].tail(4))

              Open   Close
Date
2022-09-20  338.20  335.70
2022-09-21  335.00  341.05
2022-09-22  340.85  345.10
2022-09-23  346.85  346.25
              Open   Close
Date
2022-09-20  335.00  341.05
2022-09-21  340.85  345.10
2022-09-22  346.85  346.25
2022-09-23     NaN     NaN
---------------------------
              Open   Close
Date
2022-09-20  335.00  335.70
2022-09-21  340.85  341.05
2022-09-22  346.85  345.10
2022-09-23     NaN  346.25

In [82]:
print(shifted_stock_data.values[-2:])

[[3.40850000e+02 3.45100000e+02 3.35000000e+02 3.41050000e+02
  3.40930000e+02 5.64513000e+05 8.55600000e+03 1.92458634e+08
  1.96863000e+05 3.48700000e+01 1.01000000e+01 6.05000000e+00]
 [3.46850000e+02 3.48650000e+02 3.40800000e+02 3.45100000e+02
  3.46150000e+02 1.11960500e+06 2.03100000e+04 3.87551206e+08
  3.33289000e+05 2.97700000e+01 7.85000000e+00 4.25000000e+00]]

In [64]:
shifted_stock_data.shape

(67, 12)

In [65]:
shifted_stock_data.isnull().sum()

Open                         1
High                         0
Low                          0
Close                        0
WAP                          0
No. of Shares                0
No. of Trades                0
Total Turnover               0
Deliverable Quantity         1
% Deli. Qty to Traded Qty    1
Spread H-L                   0
Spread C-O                   0
dtype: int64

In [66]:
shifted_stock_data.dropna(inplace=True)

In [67]:
shifted_stock_data.isnull().sum()

Open                         0
High                         0
Low                          0
Close                        0
WAP                          0
No. of Shares                0
No. of Trades                0
Total Turnover               0
Deliverable Quantity         0
% Deli. Qty to Traded Qty    0
Spread H-L                   0
Spread C-O                   0
dtype: int64

In [68]:
shifted_stock_data.shape

(66, 12)

In [69]:
X=shifted_stock_data.drop(['Open'],axis=1)
y=shifted_stock_data.loc[:,'Open']

In [70]:
X.head()

,High,Low,Close,WAP,No. of Shares,No. of Trades,Total Turnover,Deliverable Quantity,% Deli. Qty to Traded Qty,Spread H-L,Spread C-O
Date,,,,,,,,,,,
2022-06-20,266.15,261.30,264.00,263.55,784844.0,14424.0,206843136.0,507525.0,64.67,4.85,1.80
2022-06-21,270.90,264.25,269.85,267.88,495620.0,6668.0,132768602.0,145970.0,29.45,6.65,4.85
2022-06-22,270.20,264.65,265.10,267.77,351550.0,6103.0,94135385.0,141238.0,40.18,5.55,-2.90
2022-06-23,267.30,262.50,265.60,265.12,204279.0,4107.0,54158816.0,73642.0,36.05,4.80,0.95
2022-06-24,268.30,265.20,265.80,266.40,335907.0,6114.0,89485743.0,173766.0,51.73,3.10,0.20

In [72]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X, y, 
                                                 test_size = 0.2, 
                                                 random_state = 0)

In [73]:
regr=DecisionTreeRegressor()
regr.fit(x_train,y_train)
pred_y=regr.predict(x_test)

In [75]:
from sklearn import metrics  
import numpy as np
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, pred_y)))

Root Mean Squared Error: 3.112044573680046

In [77]:
stock_data['Close'].mean()

306.18731343283577

In [85]:
test_data=[[3.48650000e+02,3.40800000e+02,3.45100000e+02,
  3.46150000e+02,1.11960500e+06,2.03100000e+04,3.87551206e+08,
  3.33289000e+05,2.97700000e+01,7.85000000e+00,4.25000000e+00]]

In [86]:
regr.predict(test_data)

C:\anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([346.85])